.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

form {
  width: 100%;
  max-width: 50%;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.custom-alert {
  width: 48%; /* or 400px or w-50 */
  margin: 2% auto 0 auto; /* top 5%, center horizontally */
}