/* .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.enter-chat-btn {
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  bottom: 0.5%;
  width: 40%;
}
 */

 .card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

button.enter-chat-btn {
  width: 100%;
}
