 <h2 id="headingchat">Manage Employees</h2>
<div class="d-flex justify-content-center ">
  <div style="
      max-height: 500px;          /* Vertical height (rows scroll if too many) */
                /* Horizontal scroll if table too wide */
      width: 100%;                /* Full width */
  ">
    <table class="table table-hover table-dark custom-table w-75">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <!-- <th scope="col">EmployeeId</th> -->
          <th scope="col">Name</th>
          <!-- <th scope="col">Email</th> -->
          <th scope="col">Role</th>
          <th scope="col">Manage</th>
        </tr>
      </thead>
      <tbody>
        @if(isFetching)
        {
          <tr>
            <td colspan="6" class="text-center">Loading...</td>
          </tr>
        }
           <!-- <tr *ngFor="let bug of paginatedBugs; let i = index"> 
           <th scope="row">{{ (currentPage - 1) * pageSize + i + 1 }}</th> -->
        <tr *ngFor="let emp of paginatedEmployees; let i = index">
          <th scope="row">{{ (currentPage - 1) * pageSize + i + 1 }}</th>
          <!-- <th scope="row">{{ i + 1 }}</th> -->
          <!-- <td>{{ emp.employeeId }}</td> -->
          <td>{{ emp.name }}</td>
          <!-- <td>{{ emp.email }}</td> -->
          <td>{{ emp.role }}</td>
          <td>
            <!-- <button class="btn btn-danger btn-sm" (click)="confirmDelete(emp.employeeId)">Delete</button> -->
             <button class="btn btn-danger btn-sm" (click)="handleView(emp.employeeId)">View</button>
          </td>
        </tr>
      </tbody>
    </table>
     <!-- <div class="d-flex justify-content-center align-items-center mt-2 gap-2">
      <button class="btn btn-outline-primary btn-sm"
              [disabled]="currentPage === 1"
              (click)="setPage(currentPage - 1)">
        Previous
      </button>
      <span class="mx-2">Page {{currentPage}} of {{totalPages}}</span>
      <button class="btn btn-outline-primary btn-sm"
              [disabled]="currentPage === totalPages"
              (click)="setPage(currentPage + 1)">
        Next
      </button>
    </div> -->
       <div class="pagination-buttons">
  <button class="btn btn-outline-primary btn-sm"
          [disabled]="currentPage === 1"
          (click)="setPage(currentPage - 1)">
    Previous
  </button>
  <span class="mx-2">Page {{currentPage}} of {{totalPages}}</span>
  <button class="btn btn-outline-primary btn-sm"
          [disabled]="currentPage === totalPages"
          (click)="setPage(currentPage + 1)">
    Next
  </button>
</div>
  </div>
  
</div>

