.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; 
  padding: 20px;
  margin-left:5rem;
}

.no-recipe-container{
    text-align: center;
    margin-top: 25%;
}

.no-recipe-container p{
    font-size: large;
}