<!-- <p>weather-card-component works!</p> -->
 <br>

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="weatherImage.png">
  <div class="card-body">
    <h5 class="card-title">City Name:</h5>
    <p class="card-text">weather:</p>
    <p class="card-text">Temperature:{{weather.temperature}}</p>
  </div>
</div> -->

<br>
<br>

<!-- @for (weather of weatherData; track weather?.cityname) {
  <div class="card" style="width: 18rem; margin-bottom: 1rem;">
    <img class="card-img-top" [src]='' alt="weather image">
    <div class="card-body">
      <h5 class="card-title">City Name: {{ weather.cityname }}</h5>
      <p class="card-text">Weather: {{ weather.description }}</p>
      <p class="card-text">Temperature: {{ weather.temperature }}°C</p>
    </div>
  </div>
}
<script>console.log(weatherData)</script> -->

<br>
@for (weather of weatherData; track weather?.cityname) {
  <div class="card" style="width: 18rem; margin-bottom: 1rem;">
    <div class="card-body">
      <h5 class="card-title">City Name: {{ weather.cityname }}</h5>
      <p class="card-text">Weather: {{ weather.description }}</p>
      <p class="card-text">Temperature: {{ weather.temperature }}°F</p>
    </div>
  </div>
}